---
import Layout from "../layouts/Generic.astro";
---

<!doctype html>
<Layout
  title="MASE 2.0"
  description="Michoacan Seismic Array"
  pubDate=""
  heroImage="/blog-placeholder-about.jpg"
>
  <p>jslssp</p>
</Layout>
